* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    user-select: none;
    font-family: sans-serif;
}


header {
    width: 100%;
    height: 8vh;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.295);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;

}

header .location {

    font-size: 14px;
    font-family: var(--title-font);
    font-style: italic;
    opacity: 65%;
    ;
}

header .back {
    position: absolute;
    left: 5%;
    background: #E4EFC0;
    background: linear-gradient(to right, #ff4141 0%, #d11500 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px;

}

header .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .logo span {

    position: relative;
    letter-spacing: 1px;
    font-size: 32px;
    font-family: var(--logo-font);
    background: #E4EFC0;
    background: linear-gradient(to right, #ff4141 0%, #d11500 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

header .cart-plus {
    position: absolute;
    right: 5%;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: #ffffff;
    border: none;
    outline: none;
    background: linear-gradient(to right, #ff4141 0%, #d11500 100%);
}




header .cart-plus i {
    font-size: 29px;
}

header .countProducts {
    position: absolute;
    left: 0;
    bottom: -8px;
    display: inline-block;
    border-radius: 50%;
    width: 20px;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(54, 192, 0);

}

.hide {
    display: none;
}

.container {
    max-width: 556px;
    height: 100dvh;
    background-color: rgb(235, 235, 235);
    margin: 0 auto;
    overflow: hidden;
}

main {
    width: 90%;
    height: 90vh;
    margin: 0 5% 0 5%;
    padding-top: 4%;

}