@font-face {
    font-family: 'TheSmithey';
    src: url('../TitlesFont/TheSmithey.woff2') format('woff2'),
        url('../TitlesFont/TheSmithey.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --txt-color:#272525;
    --txt-size: 22px;
    --title-size: 38px;
    --title-weight: 900;
    --title-font: 'TheSmithey';
}
